<div class="jumbotron">
  <h1  class="text-center">Sign In</h1>
  <form [formGroup]="loginForm" style="margin: 0 auto; width:25rem" (submit)="onSubmit()">
    <div class="form-group" >
      <label class="center-block">Username:</label>
      <input id="username" class="form-control" formControlName="username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert alert-danger">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Password:</label>
      <input id="password" type="password" class="form-control" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
      </div>
    </div>
    <button type="submit"
            [disabled]="!loginForm.valid"
            class="btn" [class.btn-success]="loginForm.valid" [class.btn-danger]="!loginForm.valid">Sign In</button>
  </form>



</div>
