<div *ngIf="user">
  <h2 class="page-header">{{user.username}}</h2>
  <ul class="list-group">
    <li class="list-group-item">
      Username: {{user.username}}
    </li>
    <li class="list-group-item">
      Nickname: {{user.nickname}}
    </li>
  </ul>
</div>
