<div class="jumbotron">
  <h1 class="text-center">Create an Account</h1>
  <form *ngIf="!postRegister" [formGroup]="registerForm" style="margin: 0 auto; width:25rem" (submit)="onSubmit()" novalidate>
    <div class="form-group">
      <label class="center-block">Username:</label>
      <input id="username" class="form-control" formControlName="username" (blur)="onBlur(username.valid)">
      <div *ngIf="username.invalid && (username.dirty || username.touched)"
           class="alert alert-danger">

        <div *ngIf="username.errors.required">
          Username is required.
        </div>
        <div *ngIf="username.errors.minlength">
          Username must be at least 6 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Email Adress:</label>
      <input id='email' class="form-control" formControlName="email" placeholder="Email to Subscribe Alerts(Optional)">
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-danger">

        <div *ngIf="email.errors.pattern">
          This is not a valid email.
        </div>
      </div>
    </div>
    <div class="form-group has-success">
      <label class="center-block">NickName:</label>
      <input id="nickname" class="form-control" formControlName="nickname">
      <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)"
           class="alert alert-danger">

        <div *ngIf="nickname.errors.required">
          Username is required.
        </div>
        <div *ngIf="nickname.errors.minlength">
          Username must be at least 4 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="center-block">Password:</label>
      <input id="password" type="password" class="form-control" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">
        <div *ngIf="password.errors.pattern">
          Password must contain at least 8 characters, at least 1 UPPERCASE LETTER, 1 lowercase letter, 1 number, no special characters
        </div>
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label class="center-block">Confirm Password:</label>
      <input id="passwordToConfirm" type="password" class="form-control" formControlName="passwordToConfirm" placeholder="Confirm Password">
      <div *ngIf="passwordToConfirm.invalid&& (passwordToConfirm.dirty || passwordToConfirm.touched)"
           class="alert alert-danger">
        <div *ngIf="passwordToConfirm.errors.required">
          Confirm field cannot be empty.
        </div>
        <div *ngIf="passwordToConfirm.errors.invalidPassword">
          Password does not match.
        </div>
      </div>
    </div>
    <button type="submit"
            [disabled]="!registerForm.valid"
            class="btn" [class.btn-success]="registerForm.valid" [class.btn-danger]="!registerForm.valid">Create An Account</button>
    <div class="alert alert-danger" *ngIf="formResponse!=null&& !formResponse.success">{{formResponse.msg}}</div>
  </form>
  <div class="alert alert-success" *ngIf="postRegister && formResponse.success">
    <h4 class="alert-heading">Well done!</h4>
    <p>You have successfully registered your OTIS Inventory Account, now you can login with your creditials</p>
    <hr>
    <button routerLink="/login" class="btn btn-primary">Sign In</button>
  </div>
</div>
{{respond | json}}
<p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>



