<div class="jumbotron">
  <h2 class="text-center" *ngIf="user">Welcome back, {{user.nickname}}!</h2>
  <p class="text-center">Here are the things you can do!</p>
  <div class="card-group">
    <div class="card text-center">
      <div class="card-header">
        Inventory Management
      </div>
      <div class="card-body">
        <i class="fa fa-tachometer fa-5x" aria-hidden="true"></i>
        <h4 class="card-title">Inventory Management</h4>
        <button routerLink="/dashboard" class="btn btn-primary">Take Me There</button>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        User Management
      </div>
      <div class="card-body">
        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
        <h4 class="card-title">User Management</h4>
        <button routerLink="" class="btn btn-primary">Take Me There</button>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-header">
        Project Management
      </div>
      <div class="card-body">
        <i class="fa fa-window-restore fa-5x" aria-hidden="true"></i>
        <h4 class="card-title">Project Management</h4>
        <button routerLink="#" class="btn btn-primary btn-danger" [disabled]="true">Take Me There</button>
      </div>
    </div>
  </div>
</div>
