<div class="jumbotron">
  <h3 class="text-center">Inventory Dashboard</h3>
  <table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Safety Stock</th>
      <th>Date Of Creation</th>
      <th>Creator</th>
      <th>Barcode</th>
      <th>More...</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Vacuum Cleaner</th>
      <td>123</td>
      <td>110</td>
      <td>2017-9-10</td>
      <td>Anthony</td>
      <td>213489735</td>
      <td><button class="btn btn-outline-info btn-sm">View</button></td>
    </tr>
    <tr>
      <th scope="row">Vacuum Cleaner</th>
      <td>123</td>
      <td>110</td>
      <td>2017-9-10</td>
      <td>Anthony</td>
      <td>213489735</td>
      <td><button class="btn btn-outline-info btn-sm" (click)="toggle()">View</button></td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Inventory Pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  <app-item-manipulation *ngIf="this.openItemBox"></app-item-manipulation>
</div>
