<div class="jumbotron text-center" *ngIf="!authService.loggedIn()">
  <h1 class="display-3 text-center">Welcome to OTIS Inventory</h1>
  <p class="lead">To access our inventory management system, please login or register.</p>
  <hr class="my-4">
  <div class="card text-center" style="width: 20rem; margin: 0 auto">
    <button class="btn btn-block btn-primary btn-lg" routerLink="/login" role="button">Login</button>
    <button class="btn btn-block btn-primary btn-lg" routerLink="/register" role="button">Register</button>
  </div>
</div>

<div *ngIf="authService.loggedIn()">
  <app-post-login></app-post-login>
</div>
